:root
{
/*	
	OLD:
	--veedark-smokestone-background: #0b0f10;
	--veedark-smokestone-background-alt: #161e21;
	--veedark-smokestone-font: #f3f8f8;
	--veedark-neon-red-500: #ff2350;
*/

	--veedark-background: #121212;
	--veedark-background-alt: #1E1E1E;
	--veedark-text-high: #FFFFFF;
	--veedark-text-medium: #B3B3B3;
}
.app,
.loader-page,
.header-nav,
.root,
.postlist, .post-list,
.slide-bar,
.form-select,
.page-content,
label::after,
input#email.form-control, input#password.form-control,
input.form-check-input
{
	background-color: var(--veedark-background) !important;
	border: none !important;
}

.auth-container,
.post,
.nav-item.active,
.chat-item,
.chat-action > div,.form-control,
#post > div,
.comment-action > div,
.add-list,
#nofitication-list > div,
div.white,
.btn.white
{
	background: var(--veedark-background-alt) !important;
	border: none !important;
}

.chat-action > div 
{
	max-width: 100vw !important;
	border-radius: 0 !important;
}

input, .form-control
{
	color: var(--veedark-text-high) !important;
	box-shadow: none !important;
}

h1,h2,h3,h4,h5,h6,a,b,button,input,select,span,strong,svg
{
	color: var(--veedark-text-high) !important;
}

p,input::placeholder,label,li::marker
{
	color: var(--veedark-text-medium) !important;
}